html,
body,
#root,
.App {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    height: 100%;
    font-family: "Source Sans Pro", sans-serif;
}

.App {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainCanvas {
    border: 1px solid red;
}

/* .stage {
    background-color: violet;
} */
